.carousel{
    display: inline-block;
    position: relative;
    margin-top: 80px;
    width: 100%;
    vertical-align: top;
}
.carouselSkinName{
    text-align: center;
    margin-top: 10px;
}
.carousel img{
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 3px;
}
.carouselButton{
    position: absolute;
    width: 130px;
    height: 92%;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    font-size: xx-large;
}
.carouselButton:focus{
    outline: none;
}
.carouselButton:hover{
    cursor: pointer;
}
.carouselLeft{
    left: 0%;
    bottom: 8%;
}
.carouselRight{
    right: 0%;
    bottom: 8%;
}