*{
    padding: 0;
    margin: 0;
    background-color: black;
}
body{
    width: 100%;
    margin: 0 auto;
    font-family: sans-serif;
    color: white;
}
.nav{
    height: 40px;
    width: 100%;
    background-color: lightgray;
    color: white;
}
.nav a{
    line-height: 35px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 12px;
    font-size: 20px;
    text-decoration: none;
    background-color: lightgray;
    color: white;
}
.nav a:hover{
    background-color: gray;
}
.champNav{
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
.champSelector{
    display: inline-block;
}
.champSelector *{
    font-size: 20px;
    color: white;
}
.champSearch{
    display: inline-block;
    height: 22px;
    vertical-align: top;
    margin-left: 70px;
    font-size: 20px;
    color: white;
}
.champSearch input{
    color: white;
    margin-bottom: 10px;
    height: 20px;
    vertical-align: top;
}
.champContainer{
  width: 95%;
  margin: 0 auto;
}
.champion{
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 10px 10px;
    vertical-align: top;
    background-color: #365075;
    border: 2px solid #8a6f6f;
    border-radius: 5px;
    box-shadow: 0 0 15px white;
}
.champion:hover{
    box-shadow: inset 0 0 15px white;
}
.champion:hover img{
    height: 130px;
    width: 130px;
    margin-top: 15px;
    margin-left: 35px;
}
.champion img{
    margin-top: 20px;
    margin-left: 40px;
}
.champion *{
    background-color: transparent;
}
.briefDescription{
    text-align: center;
    font-size: 18px;
    color: white;
}
.championTags{
    text-align: center;
    color: white;
}
.championContainer{
  width: 1220px;
  margin: 0 auto;
}
.carousel {
    position: relative;
    width: 1220px;
}
.carousel img{
    z-index: 1;
}
.carouselLeft{
    position: absolute;
    left: 5%;
    bottom: 45%;
    width: 60px;
    height: 30px;
    color: white;
    border-radius: 5px;
}
.carouselRight{
    position: absolute;
    right: 5%;
    bottom: 45%;
    width: 60px;
    height: 30px;
    color: white;
    border-radius: 5px;
}
.skinName{
    position: absolute;
    top: 5%;
    background: transparent;
}
