*{
    padding: 0;
    margin: 0;
    font-family: "Arial", sans-serif;
}
body{
    width: 900px;
    margin: 0 auto;
    font-family: sans-serif;
    color: white;
    background-color: #365075;
}
.nav{
    position: fixed;
    z-index: 100;
    top: 0px;
    height: 50px;
    width: 900px;
    background-color: lightgray;
}
.nav a{
    line-height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 14px;
    font-size: 20px;
    text-decoration: none;
    background-color: lightgray;
    color: black;
}
.nav a:hover{
    background-color: gray;
}
.champPage{
    width: 900px;
    background-color: gray;
}
.champNav{
    position: fixed;
    top: 50px;
    height: 50px;
    width: 900px;
    background-color: lightgray;
    box-shadow: 0 3px 2px -2px black;
}
.champNav > *{
    margin-top: 10px;
}
.champSelector{
    display: inline-block;
    margin-left: 20px;
    color: black;
}
.champSelector *{
    font-size: 20px;
}
.champSearch{
    display: inline-block;
    height: 22px;
    vertical-align: top;
    margin-left: 70px;
    font-size: 20px;
    color: black;
}
.champSearch input{
    margin-bottom: 10px;
    height: 20px;
    vertical-align: top;
}
.champContainer{
    width: 100%;
    margin-top: 100px;
    margin-left: auto;
    background-color: #365075;
}
.champion *{
    background-color: transparent;
}
.champion{
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 10px 10px;
    vertical-align: top;
    /* background-color: #365075; */
    background-color: lightgray;
    border: 2px solid #8a6f6f;
    border-radius: 5px;
    box-shadow: 0 0 5px white;
}
.champion:hover{
    box-shadow: inset 0 0 15px white;
}
.champion img{
    margin-top: 20px;
    margin-left: 40px;
}
.champion:hover img{
    height: 130px;
    width: 130px;
    margin-top: 15px;
    margin-left: 35px;
}
.briefDescription{
    text-align: center;
    font-size: 18px;
    color: #1010d3;
    font-weight: 600;
}
.championTags{
    text-align: center;
    color: black;
    font-weight: 100;
}

/* Champion Page*/
.championContainer{
    margin: 0 auto;
    position: relative;
    background-color: #365075;
}
.spellContainer{
    width: 100%;
    margin-top: 10px;
}
.spellContainer h2{
    margin-left: 10px;
}
.championSpell{
    display: inline-block;
    margin: 10px;
    padding: 5px;
    width: 96%;
    vertical-align: top;
    background-color: #38286f;
    border: 3px solid #a8a3a3;
    border-radius: 5px;
}
.championSpellImageTitleContainer{
    position: relative;
    height: 80px;
}
.championSpellImageTitleContainer h3, h4{
    display: inline-block;
    margin-left: 100px;
    width: 750px;
}
.championSpellImageTitleContainer h3{
    margin-top: 10px;
}
.championSpellImageTitleContainer h4{
    font-weight: 100;
}
.championSpellImageTitleContainer img{
    position: absolute;
    left: 10px;
    top: 10px;
}
.championSpellTextContainer{
    margin: 10px;
    font-weight: 100;
}
.championSpellTextContainer span{
    font-weight: 600;
}
.championSpellTextContainer p{
    margin-top: 5px;
}